---
const {
  href = "#",
  style = "primary",
  button = false,
  outline = false,
  size = "medium",
  class: className = "",
  ...attrs
} = Astro.props;

const baseClass = `${button ? "btn" : "link"} rounded-md group z-30 inline-flex items-center gap-2 transition-all`;
const styleMapping = {
  primary: button ? "btn-primary" : "link-primary",
  secondary: button ? "btn-secondary" : "link-secondary",
  accent: button ? "btn-accent" : "link-accent",
  neutral: button ? "btn-neutral" : "link-neutral",
  info: button ? "btn-info" : "link-info",
  success: button ? "btn-success" : "link-success",
  warning: button ? "btn-warning" : "link-warning",
  error: button ? "btn-error" : "link-error",
};
const sizeMapping = {
  "extra-small": "btn-xs",
  small: "btn-sm",
  medium: "btn-md",
  large: "btn-lg",
};
const sizeClass = sizeMapping[size] || sizeMapping["medium"];
const styleClass = styleMapping[style] || styleMapping["primary"];
const outlineClass = outline ? "btn-outline" : "";
const globalClass = `${baseClass} ${button ? sizeClass : ""} ${styleClass} ${button && outline ? outlineClass : ""} ${className}`;
---

<a href={href} class={globalClass} {...attrs}>
  <slot />
</a>
