---
import Img from "../utils/Img.astro";
const { allArticles } = Astro.props;
---

<div class="flex flex-col gap-8">
  <p>
    {`${allArticles.length !== 0 ? allArticles.length : "No"} articles found`}
  </p>
</div>
{
  allArticles.map((article) => (
    <div class="flex flex-row gap-8 flex-wrap md:flex-nowrap">
      <div class="shrink-0 grow-0">
        <Img src={article.icon} alt={article.iconAlt} class="w-20 md:w-28" />
      </div>
      <div class="flex-shrink flex-grow">
        <h2 class="text-primary font-semibold text-lg">{article.title}</h2>
        <p class="font-light">{article.description}</p>
        {article.completed ? (
          <a href={`/articles/${article.slug}`}>Go to page</a>
        ) : (
          <span class="font-bold">Work in Progress</span>
        )}
      </div>
    </div>
  ))
}
