---
import Img from "../ui/Img.astro";
import PageTitle from "../utils/PageTitle.astro";
import PageSubTitle from "../utils/PageSubTitle.astro";
import Collapse from "../ui/Collapse.astro";
import DownloadTestMSEEDFile from "../utils/DownloadTestMSEEDFile.astro";
import LinkTag from "../ui/LinkTag.astro";
import Alert from "../ui/Alert.astro";

import EditSeismicFile from "../tools/EditSeismicFile";
import DistanceBetweenPoints from "../tools/DistanceBetweenPoints";
import FileToMseed from "../tools/FileToMseed";
import PickArrivals from "../tools/PickArrivals";
import SignalProcessing from "../tools/SignalProcessing";
import SimpleTriangulation from "../tools/SimpleTriangulation";

const { selectedTool } = Astro.props;
---

<Img
  src={selectedTool.image_src}
  alt={selectedTool.image_alt}
  class="block w-20 mx-auto"
/>
<PageTitle class="text-center" text={selectedTool.title} />
<PageSubTitle class="text-center" text={selectedTool.subtitle} />
<div class="max-w-5xl mx-auto space-y-8 mt-20 mb-8">
  <p>{selectedTool.description}</p>
  <Collapse label="User guide">
    <p>{selectedTool.userGuide}</p>
  </Collapse>
  <Alert>
    Note: This toolset is part of a personal seismology project currently
    maintained by a single developer. It's hosted on a free-tier server, so you
    might occasionally experience delays or temporary issues. If the server
    appears unresponsive, please wait a few seconds — it may be starting up
    (cold start). If you spot any bugs, please feel free to <LinkTag
      style="info"
      href="/contact">contact me</LinkTag
    >. Your feedback helps improve the tool — thank you for using it!
  </Alert>
</div>
{selectedTool.slug !== "distance-between-points" && <DownloadTestMSEEDFile />}
<div class="mt-24 space-y-8">
  {selectedTool.slug === "edit-seismic-file" && <EditSeismicFile client:only />}
  {
    selectedTool.slug === "distance-between-points" && (
      <DistanceBetweenPoints client:only />
    )
  }
  {selectedTool.slug === "file-to-mseed" && <FileToMseed client:only />}
  {selectedTool.slug === "pick-arrivals" && <PickArrivals client:only />}
  {
    selectedTool.slug === "signal-processing" && (
      <SignalProcessing client:only />
    )
  }
</div>
