---
import PageTitle from "../utils/PageTitle.astro";
import PageSubTitle from "../utils/PageSubTitle.astro";
import EyeBrowText from "../utils/EyeBrowText.astro";
import LinkTag from "../ui/LinkTag.astro";
import { fastapiEndpoints } from "../../assets/data/static.js";
import Symbol from "../ui/Symbol.astro";
import CardTitle from "../ui/CardTitle.astro";
import CardParagraph from "../ui/CardParagraph.astro";
import CardContainer from "../ui/CardContainer.astro";
import CardLink from "../ui/CardLink.astro";
import { tools } from "../../assets/data/topics";
import Img from "../ui/Img.astro";
import Alert from "../ui/Alert.astro";
---

<div class="text-center">
  <EyeBrowText text="EXPLORE OUR TOOLS" />
</div>
<PageTitle class="text-center mt-2 mb-4" text="Your Seismological Toolbox" />
<PageSubTitle
  class="text-center"
  text="Contribute to our cause and help us make a positive impact with your donation. Your support makes all the difference."
/>
<div class="mt-24 mb-16 max-w-3/4 lg:max-w-1/2 mx-auto text-center text-sm">
  <p>
    Don&apos;t have a seismic data file ? Click below to download a miniseed
    sample file, to experiment with the tools.
  </p>
  <div class="flex gap-2 items-center justify-center mt-4">
    <Symbol name="file-download" class="flex-shrink-0" />
    <LinkTag href={fastapiEndpoints["DOWNLOAD-TEST-FILE"]} style="info">
      Download Sample MSEED File
    </LinkTag>
  </div>
</div>
<Alert class="my-8">
  Note: This toolset is part of a personal seismology project currently
  maintained by a single developer. It's hosted on a free-tier server, so you
  might occasionally experience delays or temporary issues. If the server
  appears unresponsive, please wait a few seconds — it may be starting up (cold
  start). If you spot any bugs, please feel free to <LinkTag
    style="info"
    href="/contact">contact me</LinkTag
  >. Your feedback helps improve the tools listed — thank you for using them!
</Alert>
<div
  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 justify-center gap-8"
>
  {
    tools.map((tool) => (
      <CardContainer class="flex-grow-0 bg-base-200 hover:scale-110 transition-all">
        <Img
          src={tool.image_src}
          alt={tool.image_alt}
          class="w-32 block mx-auto"
        />
        <CardTitle class="text-center">{tool.title}</CardTitle>
        <CardParagraph class="text-center">
          {tool.smallDescription}
        </CardParagraph>
        {tool.completed ? (
          <CardLink href={`/tools/${tool.slug}`}>Go to page</CardLink>
        ) : (
          <p class="font-bold text-center">Work in Progress</p>
        )}
      </CardContainer>
    ))
  }
</div>
